.company {
	padding: 80px 0;

	background-color: #DDDDDD;
}

.company__logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.company__item {
	width: 25%;
	width: 255px;
	height: 135px;
}
