@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 18px;

	background-color: #fff;
}

.container {
	max-width: 1210px;
	/* 1110px */
	padding: 0 15px;
	margin: 0 auto;
}

p {
	color: #85859B;
}

.btn {
	display: inline-block;
	padding: 20px 50px;
	width: 255px;
	height: 70px;

	font-size: 20px;
	line-height: 1.1;
	letter-spacing: 2px;
	text-align: center;

	border: 1px solid #7875FE;
	color: #7875FE;
}

.btn:hover {
	background-color: #7775fe6c;
	color: #fff;
	box-shadow: 0px 5px 7px #6c6bbbc8;

	transition: background-color .2s linear;
}